@import url(./assets/styles/_imports.css);

html,body{
    overflow-x: hidden;
    margin: 0;
    background-color: var(--background-color-100);
    color: var(--text-color-600);

    * {
        z-index: 0;
    }
}

.background-blur {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(200px);
}