.slider-item {
    height: 100%;
    text-align: initial;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--background-color-100);
    color: var(--text-color-600);
    border: 1px solid var(--background-color-300);
    border-radius: 16px;
    box-shadow: 0 0 var(--spacing-l) rgba(0, 0, 0, 0.04);
}


#slider-images .image-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
#slider-images .carousel-control-next,
#slider-images .carousel-control-prev {
    width: auto;
    margin: 0 var(--spacing-s);
}
#slider-images .carousel-control-next span,
#slider-images .carousel-control-prev span {
    filter: invert(100%);
}

#slider-images .carousel-inner {
    padding: 0;
    height: 100%;
    width: 100%;
}


.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-xl) var(--spacing-l);
}

.slide-content .title {
    color: var(--primary-color-500);
}

.slide-content .content-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.slide-content .options {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.slide-content .content-body .slide-section{
    display: flex;
    flex-direction: column;
    gap:var(--spacing-s);
}

.slide-section .tags {
  display: flex;
  gap: var(--spacing-xs);
}

.slide-section .tag {
  background: var(--background-color-300);
  color: var(--primary-color-500);
  padding: var(--spacing-2xs) var(--spacing-s);
  border-radius: 6px;
  font-weight: 500;
  cursor: default;
  transition: ease 0.2s;
}

.slide-section .tag:hover {
  background: var(--primary-color-300);
  color: var(--background-color-100);
  padding: var(--spacing-2xs) var(--spacing-s);
  border-radius: 6px;
  font-weight: 500;
  cursor: default;
  transition: ease 0.2s;
}
