.slider-item {
    height: 100%;
    text-align: initial;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--background-color-100);
    color: var(--text-color-600);
    border: 1px solid var(--background-color-300);
    border-radius: 16px;
    box-shadow: 0 0 var(--spacing-l) rgba(0, 0, 0, 0.04);
}

.slider-item .slider-images {
    background-color: var(--background-color-200);
}

.slider-images .image-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-xl) var(--spacing-l);
}

.slide-content .title {
    color: var(--primary-color-200);
}

.slide-content .content-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.slide-content .options {
    display: flex;
    flex-direction: row;
    justify-content: end;
}