.btn-primary {
    padding: var(--spacing-s) var(--spacing-l);
    background-color: var(--primary-color-400);
    color: var(--background-color-100);
    border-radius: 8px;
    border: none;
    outline: none;
    transition: ease-out 0.2s;
}

.btn-primary:hover {
    background-color: var(--primary-color-200);
    cursor:pointer;
    transition: ease-out 0.2s;
}

.btn-primary:disabled {
    background-color: var(--text-color-300);
    color: var(--text-color-100);
    cursor:not-allowed;
}