@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --title-font: "Dela Gothic One",sans-serif;
    --body-font: "Inter", sans-serif;

    h1{
        font-family: var(--title-font);
        font-size: 5.61em;
        font-weight: normal;
        letter-spacing: 0px;
    }

}