#about{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--spacing-3xl) var(--spacing-2xl);
    gap:var(--spacing-2xl);
}

.title{
    color: var(--primary-color-400);
}