#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--spacing-3xl) var(--spacing-2xl);
  gap: var(--spacing-2xl);
}

.title {
  color: var(--primary-color-400);
}

#about .content {
  width: 80%;
  margin: 0 auto;
  padding: var(--spacing-l) var(--spacing-xl);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);

  text-align: left;
  font-size: var(--fs-300);

  background-color: var(--background-color-200);
  border-radius: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.card {
  background-color: var(--background-color-200);
  border-radius: 20px;
  border: 0;
  width: 80%;
  margin: 0 auto;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-xl);
  padding: var(--spacing-l) var(--spacing-xl);
  animation: fadeIn 0.8s ease-in-out;
}

.about-text {
  flex: 1;
  min-width: 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}
.about-title {
  text-align: center;
  color: var(--secondary-color-500);
}

.about-info {
  color: var(--text-color-600);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.about-info p {
  font-family: var(--body-font);
  font-weight: var(--bold);
  font-size: var(--fs-400);
}

.about-info p::before {
  content: "•";
  color: var(--text-color-600);
  margin-right: var(--spacing-s);
}

.about-info p span {
  color: var(--secondary-color-300);
}

.card img {
  max-width: 400px;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 20px;
  object-fit: contain;
}

.card-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: var(--spacing-m) auto 0;
  padding: var(--spacing-l);
  background: none;
  border: 5px solid var(--secondary-color-500);
  border-radius: 50%;
  cursor: pointer;
}

.card-arrow img {
  width: 35px;
  height: 35px;
  filter: invert(42%) sepia(13%) saturate(450%) hue-rotate(120deg)
    brightness(100%) contrast(88%);
}

.card-arrow:hover {
  transform: translateY(3px);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-l);
}

.contact-section .contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-l);
}

.contact-section .contact-icon img {
  aspect-ratio: 1 / 1;
  width: var(--fs-600);
  text-decoration: none;
  transition:
    transform 0.2s,
    color 0.2s;
}

.contact-section .contact-icon .contact-method:hover img {
  transition: transform 0.2s;
  transform: scale(1.2);
}

.contact-section .contact-icon .contact-method span {
  display: inline-block;
  transition: transform 0.2s;
  font-family: var(--title-font);
  font-size: var(--fs-200);
  font-weight: var(--regular-bold);
  letter-spacing: 0;
}

.contact-section .contact-icon .contact-method:hover span {
  transform: scale(1.1);
}

.contact-section .contact-icon .contact-method a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  text-decoration: none;
}

.contact-section .contact-icon .contact-method.email a {
  color: var(--email-color);
}

.contact-section .contact-icon .contact-method.linkedin a {
  color: var(--linkedin-color);
}

.contact-section .contact-icon .contact-method.github a {
  color: var(--github-color);
}

.contact-text {
  margin-top: var(--spacing-s);
  font-size: var(--fs-500);
  color: var(--secondary-color-300);
  text-align: center;
  opacity: 0.9;
}

@media (max-width: 1440px) {
  .about-content .about-info p {
    font-size: var(--fs-300);
  }

  .card-content img {
    max-width: 30vw;
  }
}

@media (max-width: 1200px) {
  #about {
    padding-top: var(--spacing-xs);
    min-height: 100svh;
    height: auto;
    box-sizing: border-box;
  }

  #about .title {
    font-size: var(--fs-700);
  }

  #about .about-content .about-title {
    font-size: var(--fs-500);
  }

  #about .about-content .about-info p {
    font-size: var(--fs-300);
  }

  #about .card {
    background-color: var(--background-color-200);
    border-radius: 20px;
    border: 0;
    width: 100%;
    margin: 0 auto;
  }

  #about .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xl);
    padding: var(--spacing-l) var(--spacing-xl);
    animation: fadeIn 0.8s ease-in-out;
  }

  .contact-section .contact-text {
    font-size: var(--fs-500);
  }

  .contact-section .contact-icon {
    font-size: var(--fs-200);
  }
}

/*Medium-Large*/
@media (max-width: 600px) {
  #about .title {
    font-size: var(--fs-600);
  }

  #about .about-content .about-title {
    font-size: var(--fs-500);
  }

  .card img {
    display: none;
  }
}

@media (max-width: 450px) {
  #about .title {
    font-size: var(--fs-500);
  }

  #about .about-content .about-title {
    font-size: var(--fs-400);
  }

  #about .about-content .about-info {
    font-size: var(--fs-100);
  }

  .card-arrow img {
    width: 25px;
    height: 25px;
  }

  .contact-section .contact-text{
    font-size: var(--fs-300);
  }

  .contact-section .contact-icon{
    font-size: var(--fs-100);
  }
}

@media (max-width: 350px) {
  #about {
    gap: var(--spacing-2xs);
  }
  #about .title {
    font-size: var(--fs-500);
    padding-top: var(--spacing-2xl);
  }
  #about .about-content .about-title {
    font-size: var(--fs-300);
  }

  #about .about-content .about-info {
    font-size: var(--fs-50);
  }

  .contact-section .contact-text {
    font-size: var(--fs-300);
  }

  .contact-section .contact-icon {
    font-size: var(--fs-100);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
