#hero{
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: var(--spacing-3xl) var(--spacing-2xl);
    box-sizing: border-box;
    gap: var(--spacing-xl);

}

#hero .title{
    color: var(--primary-color-400);
    height: calc(2 * var(--fs-900));
}
#hero .title p {
    display: inline-block;
}
/* blob */
#hero .background-object {
    top: 20%;
    left: 63%;
}