#projects{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--spacing-3xl) var(--spacing-2xl);
    gap:var(--spacing-2xl);
    z-index: 3;

    h2{
        color: var(--primary-color-400);
    }
}

#projects .carousel-inner {
    padding: 0 var(--spacing-3xl);
    height: 70svh;
    overflow: visible;
}
#projects .carousel-item {
    height: 100%;
}

#projects .carousel-control-next,
#projects .carousel-control-prev {
    width: auto;
    margin: 0 var(--spacing-xl);
}

#projects .carousel-indicators {
    bottom: calc(-1 * var(--spacing-2xl));
}
#projects .carousel-indicators button {
    background-color: var(--primary-color-200);
    opacity: 1;
}
#projects .carousel-indicators .active {
    background-color: var(--primary-color-700);
}