footer{
    background-color: var(--background-color-200);
    padding: var(--spacing-xl) var(--spacing-3xl);
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
}

footer h6{
    color:var(--primary-color-400);
}

footer .small{
    color:var(--text-color-700)
}